@model Store_Sale_MovilPhone.Complementos.RemoveItemsShoppingCart
@{
    ViewBag.Title = "RemoveToItems";
}

<h2>Remover Telefono</h2>

Mensaje <br /> @Model.Message <br />

Remueves el telefono y te quedas con :<br />
@Model.CountItmes<br />

El monto total de su compra queda en :<br />
@Model.CountTotal<br />

CountCart<br />
@Model.CountCart<br />

DeletedId<br />
@Model.DeletedId